{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>第一部影片 - 粉酷多字幕</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "css/first.css" %}"></link>
    </head>

    <body>
        <div id="content-block">
            <div id="url-block">
                <p>來配上您第一篇粉酷多字幕吧!!</p>
                <form action="/edit/" method="post" class="form-group">
                    {% csrf_token %}
                    <input type="text" name="video-url" id="video-url" class="form-control" />
                </form>
            </div>
        </div>
    </body>
</html>


