{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>粉酷多字幕</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"></link>
    </head>

    <body>
        <div id="content-block">
            <h2>粉酷多字幕</h2>
            <div id="login-block">
                <form action="/login/" method="post" class="form-group">
                    {% csrf_token %}
                    <p><input type="text" name="username" id="username" class="form-control" value="{{ tmp_username }}" placeholder="帳號" /></p>
                    <p><input type="password" name="password" id="password" class="form-control" placeholder="密碼" /></p>
                    <p></p>
                    <p><input type="submit" value="登入" class="btn btn-primary btn-large" /></p>
                    <small id="err-msg">{{ err_msg }}</small>
                </form>
            </div>
        </div>
    </body>
    <script src="{% static "js/focus-login.js" %}"></script>
</html>


