{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>影片列表 - 粉酷多字幕</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "css/list.css" %}"></link>
    </head>

    <body>
        <div id="content-block">
            <div id="create-block">
                <p>要不要再配一部字幕呢？</p>
            </div>
            <div id="previous-block">
            </div>
            <div id="preview-block">
            </div>
        </div>
    </body>
</html>


