{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>影片列表 - 粉酷多字幕</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "css/list.css" %}"></link>
    </head>

    <body>
        <div id="content-block">
            <h2>粉酷多字幕</h2>
            <div id="url-block">
                <p>要不要再配一部字幕呢？</p>
                <form action="/create/" method="post" class="form-group">
                    {% csrf_token %}
                    <p><input type="text" name="video-url" id="video-url" class="form-control" /></p>
                    <small id="err-msg">{{ err_msg }}</small>
                </form>
            </div>
            <div id="list-block">
                <p>您之前的影片們</p>
                {% for video in videos %}
                    <p><a href="/edit/{{ video.id }}"><big>{{ video.title }}</big></a></p>
                {% endfor %}
            </div>
        </div>
    </body>
    <script src="{% static "js/focus-url.js" %}"></script>
</html>


