.fkd-subtitle {
    width: 682px;
    height: 621px;
    position: relative;
}

.fkd-display {
    position: absolute;
    top: 516px;
    width: 100%;
}

.fkd-display-line {
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 微軟正黑體;
    color: white;
}

