body {
    background-color: #1b1b1b;
}

.fkd-subtitle {
    color: white;
    text-align: center;
}

.fkd-display {
    position: relative;
}

.fkd-display-line {
    line-height: 6px;
    font-size: 30px;
    font-family: 微軟正黑體;
    position: absolute;
    top: 20px;
    left: 50%;
}

.fkd-display-front {
    color: white;
    z-index: 1;
}

.fkd-display-back {
    color: black;
    z-index: 0;
}
