body {
    background: #BDC3C7;
    overflow: hidden;
    font-family: '微軟正黑體';
}

a, input[type=submit] {
    cursor: pointer;
}

#err-msg {
    margin: 10px;
    color: #C0392B;
}

#left {
    float: left;
    margin-left: 40px;
    height: 100%;
}

#right {
    float: left;
    margin-left: 530px;
}

#panel {
    position: absolute;
    width: 450px;
    top: 40px;
    bottom: 20px;
    overflow: auto;
}

#video-title {
    height: 40px;
}

#video {
    text-align: center;
}

#modify-line {
    padding-top: 30px;
    position: relative;
}

#publish {
    position: absolute;
    top: 40px;
    right: 65px;
}

#start-check {
    position: absolute;
    top: 55px;
}

#end-check {
    position: absolute;
    top: 122px;
}

#input-line {
    position: absolute;
    left: 122px;
    right: 10px;
    height: 140px;
}

#import-lines {
    text-align: center;
    margin-top: 200px;
    display: none;
}

.single-line {
    position: relative;
    height: 49px;
}

.line-start-time {
    position: absolute;
    top: 15px;
}

.line-to-time {
    position: absolute;
    left: 49px;
    top: 35px;
}

.line-end-time {
    position: absolute;
    top: 58px;
}

.line-text {
    position: absolute;
    top: 30px;
    left: 99px;
}

.not-yet-show {
    opacity: 0;
}

