body {
    background: #BDC3C7;
    overflow: hidden;
    font-family: '微軟正黑體';
}

a, input[type=submit] {
    cursor: pointer;
}

#err-msg {
    margin: 10px;
    color: #C0392B;
}

#left {
    float: left;
    margin-left: 40px;
    height: 100%;
}

#right {
    float: left;
    margin-left: 530px;
}

#panel {
    position: absolute;
    width: 450px;
    top: 40px;
    bottom: 20px;
    overflow: auto;
}

#input-line {
    width: 530px;
    height: 140px;
}

#video {
    text-align: center;
}

#single-line {
    padding-top: 30px;
}

#publish {
    position: absolute;
    top: 40px;
    right: 40px;
}

#start-check, #end-check {
    margin: 20px;
}

#import-lines {
    text-align: center;
    margin-top: 200px;
    display: none;
}

